# npm
node_modules
public
*.log
*.gz
# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore

.idea
.env
.DS_Store
dist/
app/uploads
app/.env
.env
.env
